<div class="jumbotron jumbotron-fluid bg-success text-center mb-0" id="head">
  <div class="container">
    <div class="col-sm-12 col-md-8 mx-auto">
      <h1 class="display-4 text-white font-weight-bold">Siembra un árbol y comparte tu aporte con el mundo</h1>
      <br>
      <p class="lead text-white">Arborizate es la aplicación web que te invita a registrar y compartir tus siembras con todo el mundo. Reforesta, comparte y participa</p>
    </div>

    <br>
    <br>
    <div class="col-12 d-md-flex justify-content-center">
      <div class="col-12 col-md-4 mt-3 mb-3">
        <a href="#how_to_head" role="button" class="btn btn-outline-light btn-block btn-lg b-radius-50">Conoce más</a>
      </div>
      <div class="col-12 col-md-4 mt-3 mb-3">
        <a href="#register" role="button" class="btn btn-success btn-block btn-lg b-radius-50">Participa</a>
      </div> 
    </div>
  </div>  
</div>